.news{
    padding: 5% 0 10% 0;
    text-align: center;
     
}

.news h1{
    font-size: 3em;
    z-index: -1;
    position: relative; 
}

.news h1::before {
    content: "";
    position: absolute;
    top: 60%;
    left: 0px;
    display: block;
    width: 10%;
    height: 5px;
    background: black;
    margin: 3% 0 0 40%;

}

.news h1::after {
    content: "";
    position: absolute;
    top: 60%;
    right: 0px;
    display: block;
    width: 10%;
    height: 5px;
    background: orange;
    margin: 3% 41% 0 0;
   
}
.banner{
    width: 100%;
    
}
.box .imgbox{
   width: 100%;
    height: 200px; 
     overflow: hidden;
    margin-bottom: 20px;
}
.box img{
    width: 100%;
    height: 200px;
   
   transition: 0.4s all;
   
}
.box img:hover{
    transform:scale(1.2);
}
.box{
    float: left;
    width: calc(33.33% - 40px);
    margin:30px 0 0 20px;
    padding: 10px;
    background: #FCFBFE  ;
   transition: .2s all;
    height: 400px;
    
    
}
.box:hover{
     box-shadow:  10px 10px  10px 1px #aaaaaa  ;
}
.box a{
    text-decoration: none;
    font-size: 2vw;
    color:#140166  ;
   
  
}
.box a:hover{
    text-decoration: underline;
}
.box p{
    margin: 10px 0 0 0;
    font-size: 1vw;
    font-weight: 600;
    color: #f44336;
}
.box p span{
    color: #140166  ;
}


.videos{
    padding: 5% 0 10% 0;
    text-align: center;
     
}

.videos h1{
    font-size: 3em;
    z-index: -1;
    position: relative; 
}

.videos h1::before {
    content: "";
    position: absolute;
    top: 60%;
    left: 0px;
    display: block;
    width: 10%;
    height: 5px;
    background: black;
    margin: 3% 0 0 40%;

}

.videos h1::after {
    content: "";
    position: absolute;
    top: 60%;
    right: 0px;
    display: block;
    width: 10%;
    height: 5px;
    background: orange;
    margin: 3% 41% 0 0;
   
}
.vdos ul li{
    float: left;
    width: calc(33.33% - 20px);
    margin: 10px 0 0 20px;
}

@media only screen and (max-width:1049px){
    .box p{
   
    font-size: 1.2vw;
  
}
}
@media only screen and (max-width:900px){
    .box p{
   
    font-size: 1.5vw;
  
}
    .box .imgbox{
  
    margin-bottom: 30px;
}
    .videos h1::before {
   
    margin: 5% 0 0 40%;

}

.videos h1::after {
    
    margin: 5% 41% 0 0;
   
}
    .news h1::before {
   
    margin: 5% 0 0 40%;

}

.news h1::after {
    
    margin: 5% 41% 0 0;
   
}
}
@media only screen and (max-width:830px){
    .box a{
   
    font-size: 2.2vw;
    
   
  
}
    @media only screen and (max-width:797px){
        
    .box{
   
    width: calc(50% - 40px);
    margin:30px 0 0 20px;
   
    
    
}
        .box a{
   
    font-size: 3vw;
    
   
  
}
        .box p{
   
    font-size: 2vw;
  
}
        #ex{
            display: none;
        }
    .vdos ul li{
   
    width: calc(50% - 20px);
    margin: 10px 0 0 20px;
}    
}
    @media only screen and (max-width:600px){
        .box .imgbox{
  
    margin-bottom:40px;
}
       .news h1{
    font-size: 2.5em;
    
}
        .news{
    padding: 10% 0 10% 0;
    
     
}
        .videos h1{
    font-size: 2.5em;
    
}
         .videos{
    padding: 10% 0 10% 0;
    
     
}
        .vdos ul li{
   
    width: calc(100% - 20px);
    margin: 10px 0 0 20px;
}    
    }
    @media only screen and (max-width:580px){
        .box{
   
    width: calc(100% - 40px);
    margin:30px 0 0 20px;
   
    
    
}
        
        .box a{
   
    font-size: 4vw;
    
   
  
}
        .box p{
   
    font-size: 3vw;
  
}
    }
    @media only screen and (max-width:380px){
    .news h1{
       font-size: 1.5em;
        line-height: 30px;
    }
    .videos h1{
        font-size: 1.5em;
    }
    
}